@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
body{
display:  flex;
height: 100vh;}

div{
  background-color: rgb(159, 88, 1);
  position: absolute;
  height: 100%;
  width: 100px;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  text-align: center;
}

div:hover{
  opacity: 1;
  left: 100px;
}