@charset "UTF-8";
body{
animation: changeBg 5s infinite alternate linear;
}

#conteudo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 12px black;
}

@keyframes changeBg{
  0% {
    background: #BFBFBF;
  }
  25%{
    background: #4C5958;
  }
  50%{
    background: #8AA6A3;
  }
  75%{
    background: #10403B;
  }
  100%{
    background: #127369;
  }
}