@charset "UTF-8";

body{
  background-color: black;
}
.wp{
  max-width: 150px;
  position: relative;
}
img{
  width: 100%;
  display: block;
  border-radius: 50%;
}
.wp::before{
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid white;
  border-top-color:#fff ;
  border-bottom-color:#ababab ;
  border-radius: 50%;
  z-index: -1;
  animation:spin 3s linear infinite;
}

@keyframes spin{
  to{transform: rotate(360deg);}
}